.compare {
  display: grid;
  row-gap: 48px;

  @include on-tablet {
    margin-bottom: 120px;
  }

  @include on-desktop {
    row-gap: 56px;
    margin-bottom: 144px;
  }

  &__products {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;

    @include on-tablet {
      grid-template-columns: repeat(6, 1fr);
      gap: 48px 24px;
    }

    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      justify-items: stretch;
    }
  }
}
