.details {
  display: grid;
  row-gap: 48px;

  @include on-tablet {
    row-gap: 64px;
  }

  @include on-desktop {
    row-gap: 48px;
  }

  &__list {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 48px;
    }
  }
}
