@use '../utils/mixins' as *;

.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(images/Cover_photo_mobile.png);
  background-size: cover;
  background-position: right;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    color: #fff;
    line-height: 100%;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -1.5px;
    margin: 0;
  }

  &__bottom {
    padding-bottom:  88px;

    @include content-padding-inline;
  }
}
