@use '../utils/mixins' as *;

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(images/Icon_Phone.png);
  }

  &--menu {
    background-image: url(images/Icon_Burger.png);
  }

  &--close {
    background-image: url(images/Icon-Close.png);
  }
}
