.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #c2c2c2;

  font-weight: 600;
  text-transform: uppercase;

  &__container {
    @include content-padding-inline;
  }

  &__top {
    margin-bottom: 32px;

    @include on-tablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      margin-bottom: 0;

      .top-bar__logo {
        grid-column: 1 / 3;
      }

      .icon--close {
        grid-column: 6;
      }
    }

    @include on-desktop {
      grid-template-columns: repeat(12, 1fr);
      margin-bottom: 60px;

      .icon--close {
        grid-column: 12;
        justify-self: end;
      }
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;

    color: #1d1d1d;
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;

    @include hover(opacity, 0.7);
  }

  &__book-test-ride {
    display: block;
    width: fit-content;
    padding-bottom: 7px;
    border-bottom: 1px solid #1d1d1d;

    color: #1d1d1d;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-decoration: none;

    @include hover(opacity, 0.7);
  }
}
